*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
section{
    margin-top: 50px;
}
.btn-primary{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    height: 64px;
    padding: 18px 35px;
    border-radius: 5px;
    background: #FD6E0A;
}
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
/* header and navigation Style */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav ul{
    display: flex;
    align-items: center;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.myimage{
    height: 676px;
    width: 800px;
    /* float: right; */
    position: right;
}
/*vanner Style*/
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
}
.vanner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
/* main section */
main{
    max-width: 1140;
    margin: 0 auto;
    margin-left: 120px;
    margin-right: 120px;
}
/* about section style */
.about{
    margin-top: 130px;
    margin-bottom: 50px;
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.section-title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;
}
.section-description{
    color:#757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container
{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* what i do style */
.what-I-do{
    text-align: center;
}
.what-des{
    margin-bottom: 100px;
}
.skill{
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(12, 0, 0, 0.06);
    border-radius: 5ppx;

}
.skills_containers{
    display: flex;
    text-align: center;
    gap: 24px;
    color: green;
    text-align: left;
    font-size: 13px;
}
.skill-title{
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    padding: 2px;
}
.skill-description{
    color: #757575;
}
/* resume style */
.resume-content{
    display: flex;
    gap: 24px;
}
.section-title{
    text-align: center;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume .title{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
    margin-bottom: 10px;
}
.resume .sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.resume .description{
    color: #757575;
}
.resume-btn{
    margin-top: 50px;
    text-align: center;
    padding-bottom:100px ;
}
/* contract style */
.contact{
    display: flex;
    gap: 100px;
    background:#FFF8F3 ;
    padding: 130px 200px
}
.contact .section-title{
    text-align: left;

}

.contact input[type="text"],input[type="email"],textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
input{
    height: 64px;
}
.contact a{
    text-decoration: none;
}









